@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

*{
    list-style: none;
    text-decoration: none !important;
}

input {
    border: 1px solid;
    outline: none;
}

input:focus {
    outline: none;
}

a {
    color: black !important;
}

i:hover {
    cursor: pointer;
}